:root {
  /* fonts */
  --main-font: roboto, sans-serif;
  --secondary-font: Raleway, sans-serif;

  /* text colors */

  --primery-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --additional-color: #ffffff;

  /* bg colors */

  --dark-bg-cl: #2f303a;
  --light-bg-cl: #f5f4fa;

  /* others */
}

body {
  /* background-color: var(--additional-color); */

  font-family: var(--main-font);
  color: var(--primery-text-color);
}

/* reset styles */

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

/* header */

/* Logo header */

.logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.logo-header {
  color: #000000;
}

/* nav */

.nav-list .link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}

.nav-list .link:hover,
.nav-list .link:focus {
  color: var(--accent-color);
}

.nav-list .link.current {
  color: var(--accent-color);
}

/* contact-header */

.Contact-list .link {
  color: var(--primery-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.Contact-list .link:hover,
.Contact-list .link:focus {
  color: var(--accent-color);
}

/* Hero */
.hero {
  background-color: var(--dark-bg-cl);
}
.main-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--additional-color);
}

.hero-btn {
  font-family: inherit;
  font-weight: 700;
  line-height: 1.9;
  text-align: center;
  letter-spacing: 0.06em;

  background-color: var(--accent-color);

  color: var(--additional-color);
}

/* Features */

.feature-list .title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--title-text-color);
}

.description {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

/* Section */

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--title-text-color);
}

/* team */

.team {
  background-color: var(--light-bg-cl);
}

.team .name-item {
  background-color: var(--additional-color);
}

.team .name-list {
  color: var(--title-text-color);
}

.name-title {
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.03em;

  color: var(--title-text-color);
}

/* Portfolio */

/* main for portfolio */

.page {
  background-color: var(--additional-color);
}

/* Filters */

.btn-filter .btn {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;

  background-color: var(--light-bg-cl);
  color: var(--title-text-color);
}

.btn-filter .btn:hover,
.btn-filter .btn:focus {
  background-color: var(--accent-color);
  color: var(--additional-color);
}

/* Projects section  */

.Project .link {
  background-color: #eeeeee;
}

.Project .title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: var(--title-text-color);
}

.Project .parceling {
  font-weight: 400;
  line-height: 1.9;
  letter-spacing: 0.03em;

  color: var(--primery-text-color);
}
/* footer */

.footer {
  background-color: var(--dark-bg-cl);
}

/* logo footer */

.logo-footer {
  color: var(--additional-color);
}

/* contacts footer */

.adress-list .link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;

  color: var(--additional-color);
}

.adress-list .link:hover,
.adress-list .link:focus {
  color: var(--accent-color);
}

.contacts .contact-link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}

.contacts .contact-link:hover,
.contacts .contact-link:focus {
  color: var(--accent-color);
}
